
/*-----------------------------------*\
#FONT IMPORTED LINK
\*-----------------------------------*/

@import"https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap";

@import url('https://fonts.googleapis.com/css2?family=Yuyu+Short&display=swap');

/*-----------------------------------*\
#CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    --background:#f5f5f7;
    --text:#111;
    --icon-color:#111;

    /* FONT: */
    --font-georama: "Georama", sans-serif;
    --font-roboto: "Roboto Mono", monospace;
}

/*-----------------------------------*\
#LIGHT/DARK THEME
\*-----------------------------------*/

html[data-theme="light"] {
    --background:#f5f5f7;
    --text:#111;
    --icon-color:#111;
}

html[data-theme="dark"] {
    --background:#111;
    --text:#fff;
    --icon-color:#fff;
}

html[data-theme="dark"] .apple-icon img,
html[data-theme="dark"] .desktop-icons li img:not(.siri),
html[data-theme="dark"] .status-bar img,
html[data-theme="dark"] .battery-life img { filter: brightness(0) invert(1); }

html[data-theme="light"] .status-bar img,
html[data-theme="light"] .battery-life img { filter: brightness(0); }

/*-----------------------------------*\
#RESET
\*-----------------------------------*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    font-family: var(--font-georama);
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: rgb(218 178 255);
    font-size: 15px;
    color: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

li { list-style: none; }

button, img, li {
    cursor: pointer;
}

button {
    border: none;
    font-family: inherit;
}

img, svg, video, canvas, audio, iframe, embed, object {
    /* vertical-align: middle; */
    display: block;
}

img, video {
    max-width: 100%;
    height: auto;
}

button, input, select, optgroup, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
}

/*-----------------------------------*\
#HEADER: DESKTOP SCREEN
\*-----------------------------------*/

#top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    padding-inline: 1rem;
}

#top-bar ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.desktop {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.05rem;
}

.desktop-socials { margin-left: 1rem; }

.desktop-icons { 
    margin-right: -1.5rem;
    gap: 0.5rem;
}

.desktop li img {
    width: 15px;
}

.desktop-icons li .battery { width: 20px; }

.desktop-icons li .siri {
    width: 45px;
    margin-left: -8px;
}

.date-time {
    font-size: 13px;
    letter-spacing: 0.4px;
}

/*-----------------------------------*\
#HEADER: TABLET SCREEN
\*-----------------------------------*/

@media screen and (max-width: 899px) {
    #top-bar { 
        background: none; 
        height: 3vh;
        padding-inline: 5px;
    }

    #top-bar div {
        display: flex;
        align-items: center;
        gap: 2px;
    }

    #top-bar ul {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    #top-bar ul img {
        width: 20px;
    }
}

/*-----------------------------------*\
#HEADER: MOBILE SCREEN
\*-----------------------------------*/

@media screen and (max-width: 600px) {
    #top-bar {
        padding-inline: 2px;
    }
}

/*-----------------------------------*\
#WORKSPACE: DESKTOP SCREEN
\*-----------------------------------*/

#workspace {
    margin: 0;
    background-color: rgb(218 178 255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-self: center;
}

.sticky-note {
    font-family: "Yuyu Short", sans-serif;
    /* font-family: Arial, sans-serif; */
    position: absolute;
    top: 4rem;
    left: 9rem;
    width: 250px;
    min-height: 230px;
    background: #fffacd;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #eee;
    padding: 10px;
    cursor: grab;
    resize: both;
    border-radius: 6px;
    overflow: hidden;
}

.sticky-note textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    resize: none;
    font-size: 30px;
    color: #333;
    outline: none;
}


.icon-item {
    position: absolute;
    text-align: center;
    height: calc(.25rem * 20);
    width: calc(.25rem * 20);
    z-index: 20;
}

.icon-item:nth-child(1) {
    top: 100px;
    right: 50px;
}

.icon-item:nth-child(2) {
    top: 220px;
    right: 150px;
}

.icon-item:nth-child(3) {
    top: 350px;
    right: 65px;
}

.icon-item:nth-child(4) {
    top: 400px;
    left: 50px;
}

.icon-item:nth-child(4) img { width: 100%; }

.icon-item:nth-child(5) {
    top: 500px;
    left: 150px;
}

.icon-item:nth-child(6) {
    top: 550px;
    right: 70px;
}

/*-----------------------------------*\
#WORKSPACE: TABLET SCREEN
\*-----------------------------------*/

@media screen and (max-width: 899px) {
    .apps {
        display: grid;
        grid-template-rows: repeat(4, calc(.30rem * 20));
        grid-template-columns: repeat(4, calc(.30rem * 20));
        row-gap: 1.5rem;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10rem;
        padding-inline: calc(.45rem * 5);
    }

    .app-item {
        transform-origin: 50%;
        cursor: pointer;
        transition-property: all;
        text-align: center;
        font-size: 13px;
        height: calc(.30rem * 20);
        width: calc(.30rem * 20);
    }

    .app-item img {
        object-fit: cover;
        /* height: calc(.25rem * 20);
        width: calc(.25rem * 20); */
        width: 100%;
        height: 100%;
    }

    .social-links {
        margin-top: 4px;
        height: calc(.28rem * 20);
        width: calc(.29rem * 20);
        background: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(12px);
        display: flex;
        flex-wrap: wrap;
        border-radius: 1rem;
        padding-block: 5px;
        align-items: center;
        justify-content: start;
        padding-inline: 9px;
        gap: 2px;
        /* background: black; */
        margin-bottom: 5px;
    }

    .social-item {
        /* width: 17px;
        height: 17px; */
        height: calc(.10rem * 14);
        width: calc(.10rem * 14);
    }

    .social-item span { display: none; }

    #pages {
        position: fixed;
        bottom: 6.5rem;
        left: 50%;
        transform: translate(-50%, -10%);
    }

    .page-icon { font-size: 9px; }

    .page-icon:first-child { color: rgb(255 255 255); }

    .page-icon:last-child { color: rgba(255, 255, 255, 0.20); }
}

/*-----------------------------------*\
#WORKSPACE: MOBILE SCREEN
\*-----------------------------------*/

@media screen and (max-width: 599px) {
    .apps {
        display: grid;
        grid-template-rows: repeat(4, calc(.25rem * 20));
        grid-template-columns: repeat(4, calc(.25rem * 20));
        justify-content: center;
        margin-top: 4rem;
        column-gap: 5px;
    }

    .app-item {
        font-size: 10px;
        height: calc(.25rem * 20);
        width: calc(.25rem * 20);
    }

    .social-links {
        margin-top: 4px;
        height: calc(.22rem * 20);
        width: calc(.24rem * 20);
    }

    .social-item {
        height: calc(.08rem * 14);
        width: calc(.08rem * 14);
    }
}

/*-----------------------------------*\
#FOOTER: DESKTOP SCREEN
\*-----------------------------------*/

#dock {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    user-select: none;
    bottom: calc(.25rem * 5);
    padding-inline: calc(.25rem * 5);
}

.dock-container {
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: flex-end;
    border-radius: 1rem;
    gap: 10px;
    padding: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    padding: calc(.25rem * 1.5);
    align-items: flex-end;
    gap: calc(.25rem * 1.5);
}

.dock-item {
    transition: transform 0.25s ease;
    display: flex;
    align-items: center;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0px);
    width: calc(.25rem * 14);
    height: calc(.25rem * 14);
    cursor: pointer;
    list-style: none;
    transform-origin: center bottom;
    will-change: transform;
}

.dock-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    pointer-events: none;
}

#phone { display: none; }

@media screen and (max-width: 1240px) {
    #maps, #facetime, #messages, #reminders, #siri { display: none; }
}

/*-----------------------------------*\
#FOTTER: TABLET SCREEN
\*-----------------------------------*/

@media screen and (max-width: 899px) {
    #finder, #launchpad, #maps, #photos, #gmail, #calendar, #appstore, #settings, #trash {
        display: none;
    }

    #phone { display: flex; }
}

/*-----------------------------------*\
#FOTTER: MOBILE SCREEN
\*-----------------------------------*/

@media screen and (max-width: 560px) {
    #dock {
        width: 100%;
        bottom: 0;
        padding-inline: 0;
    }

    .dock-container { 
        justify-content: space-evenly;
        border-radius: 0; 
    }

    #safri, #messages { display: flex; }

    #finder, #preview, #player, #notes {
        display: none;
    }
}

/*-----------------------------------*\
#FOTTER: DOCK ITEM TOOLTIP
\*-----------------------------------*/

.tippy-box[data-theme~="mac"]{
    padding: 5px 12px;
    font-size: 13px;
    /* font-weight: 500; */
    border-radius: 8px;
    backdrop-filter: blur(12px);
    background-color: #bfdbfe;
    color: #1e3a8a;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);

} 

.tippy-box[data-theme~="mac"] > .tippy-arrow::before { color: #bfdbfe; }

